extends ../../layout/admin/main

block content
  .page-body
    .container-fluid
      .page-title
        .row
          .col-6
            h3
              | Attributes
          .col-6
            ol.breadcrumb
              li.breadcrumb-item
                a(href='/admin/dashboard')
                  i(data-feather='home')
              li.breadcrumb-item.active Attributes
    // Container-fluid starts
    .container-fluid
      .row.size-column
        .col-sm-12
          .card
            - var messages = getMessages()
            - var errors = [];
            .card-header
              h5 
                | Product Attributes
              .card-header-right
                a.btn.btn-primary(href='/admin/attribute/add')
                  i.fa.fa-plus(style="color:#fff")
                  |  Add New
              span 
                | Product attributes list
            
            if messages.notify
              each msg in messages.notify
                .alert.alert-info.dark.alert-dismissible.fade.show(role='alert')
                  strong= msg
                  button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
            
                          
            if messages.error
              each msg in messages.error
                .alert.alert-danger.dark.alert-dismissible.fade.show(role='alert')
                  strong= msg
                  button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
            
                          
            if messages.validation
              each msg in messages.validation
                .alert.alert-danger.dark.alert-dismissible.fade.show(role='alert')
                  strong Holy ! 
                  |  Validation Error
                  button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
            .card-header
              form(action='/admin/attributes', method='GET')
                .row.g-3
                  .col-md-3
                    input.form-control(type='text' name='keyword' placeholder='Search' value=( query && query.keyword ) ? query.keyword : '')
                  .col-md-2
                    select.form-select(name='required')
                      option(value='') Required ?
                      option(value='1' selected=( query && query.required && query.required === '1' ) ? true : false) Yes
                      option(value='0' selected=( query && query.required && query.required === '0' ) ? true : false) No
                  .col-md-2
                    select.form-select(name='unique')
                      option(value='') Unique ?
                      option(value='1' selected=( query && query.unique && query.unique === '1' ) ? true : false) Yes
                      option(value='0' selected=( query && query.unique && query.unique === '0' ) ? true : false) No
                  .col-md-2
                    select.form-select(name='filterable')
                      option(value='') Filterable ?
                      option(value='1' selected=( query && query.filterable && query.filterable === '1' ) ? true : false) Yes
                      option(value='0' selected=( query && query.filterable && query.filterable === '0' ) ? true : false) No
                  .col-md-2
                    select.form-select(name='visible')
                      option(value='') Visible ?
                      option(value='1' selected=( query && query.visible && query.visible === '1' ) ? true : false) Yes
                      option(value='0' selected=( query && query.visible && query.visible === '0' ) ? true : false) No
                  .col-md-1
                    button.btn.btn-primary(type='submit') Serach

            .table-responsive
              table.table.table-bordered
                thead
                  tr
                    th #ID
                    th Name
                    th Code
                    th Type
                    th Position
                    th Required
                    th Visible
                    th(width='360') Action
                tbody
                  each data in result.attributes
                    tr
                      td= data.id
                      td= data.name
                      td= data.code
                      td= data.type
                      td= data.position
                      td= data.is_required
                      td= data.is_visible
                      td
                        .btn-group
                          a.btn.btn-primary(href='/admin/attribute/edit/' + data.id target='_parent')
                            i.fa.fa-edit
                            |  Edit
                          button.btn.btn-info(href='/admin/attribute/view/' + data.id type='button' data-bs-toggle='modal' data-original-title='test' data-bs-target='#attributeModal' + data.id)
                            i.fa.fa-eye
                            |  View
                          div.modal.fade(id='#attributeModal' + data.id tabindex='-1' role='dialog' aria-labelledby='attributeModalLabel' + data.id aria-hidden='true')
                            div.modal-dialog(role='document')
                              .modal-content
                                .modal-header
                                  h5.modal-title(id='attributeModalLabel' + data.id)=data.name
                                  button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                .modal-body
                                  table.product-page-width
                                    tbody
                                      tr
                                        td
                                          b
                                            | Code &nbsp;&nbsp;&nbsp;:
                                        td=data.code
                                      tr
                                        td
                                          b
                                            | Type &nbsp;&nbsp;&nbsp;:
                                        td=data.type
                                      tr
                                        td
                                          b
                                            | Validation &nbsp;&nbsp;&nbsp;:
                                        td=data.validation
                                      tr
                                        td
                                          b
                                            | Position &nbsp;&nbsp;&nbsp;:
                                        td=data.position
                                      tr
                                        td
                                          b
                                            | Required &nbsp;&nbsp;&nbsp;:
                                        td=data.is_required
                                      tr
                                        td
                                          b
                                            | Unique &nbsp;&nbsp;&nbsp;:
                                        td=data.is_unique
                                      tr
                                        td
                                          b
                                            | Filterable &nbsp;&nbsp;&nbsp;:
                                        td=data.is_filterable
                                      tr
                                        td
                                          b
                                            | Configurable &nbsp;&nbsp;&nbsp;:
                                        td=data.is_configurable
                                      tr
                                        td
                                          b
                                            | Visible &nbsp;&nbsp;&nbsp;:
                                        td=data.is_visible
                                      tr
                                        td
                                          b
                                            | User defined &nbsp;&nbsp;&nbsp;:
                                        td=data.is_user_defined
                                      tr
                                        td
                                          b
                                            | Comparable &nbsp;&nbsp;&nbsp;:
                                        td=data.is_comparable
                                      tr
                                        td
                                          b
                                            | Deleted &nbsp;&nbsp;&nbsp;:
                                        td=data.deleted_at
                                      tr
                                        td
                                          b
                                            | Status &nbsp;&nbsp;&nbsp;:
                                        td=data.status
                                      tr
                                        td
                                          b
                                            | Regx &nbsp;&nbsp;&nbsp;:
                                        td=data.regx
                                      tr
                                        td
                                          b
                                            | Created at &nbsp;&nbsp;&nbsp;:
                                        td=data.created_at
                                      tr
                                        td
                                          b
                                            | Updated at &nbsp;&nbsp;&nbsp;:
                                        td=data.updated_at

                                .modal-footer
                                  button(class='btn btn-primary' type='button' data-bs-dismiss='modal')
                          a.btn.btn-secondary(href='/admin/attribute/delete/' + data.id target='_blank')
                            i.fa.fa-trash-o
                            |  Delete
      .row
        .col-sm-12.col-md-5
          #auto-fill_info.dataTables_info(role='status' aria-live='polite') Showing #{result.offset + 1} to #{result.offset + result.limit} of #{result.total} entries
        .col-sm-12.col-md-7
          #auto-fill_paginate.dataTables_paginate.paging_simple_numbers
            ul.pagination
              li#auto-fill_previous(class= (result.page == 1) ? "paginate_button page-item previous disabled" : "paginate_button page-item previous")
                a.page-link(href=`?page=${(result.page == 1) ? result.page : result.page - 1}` aria-controls='auto-fill' data-dt-idx='0' tabindex='0' data-bs-original-title='' title='') Previous

              - var i = 1;
              while i <= result.pages
                li(class= (result.page == i) ? "paginate_button page-item active" : "paginate_button page-item")
                  a.page-link(href=`?page=${i}` aria-controls='auto-fill' data-dt-idx='1' tabindex='0' data-bs-original-title='' title='')=i++
              
              
              li#auto-fill_next(class= (result.page == result.pages) ? "paginate_button page-item next disabled" : "paginate_button page-item next")
                a.page-link(href=`?page=${(result.page == result.pages) ? result.page : result.page + 1}` aria-controls='auto-fill' data-dt-idx='7' tabindex='0' data-bs-original-title='' title='') Next
