extends ../../layout/admin/main

block content
  .page-header
    .row.align-items-end
      .col-lg-8
        .page-header-title
          .d-inline
            h4 Users list
            span List of all users
      .col-lg-4
        .page-header-breadcrumb
          ul.breadcrumb-title
            li.breadcrumb-item
              a(href='/admin/dashboard')
                i.feather.icon-home
            li.breadcrumb-item
              a(href='#!') Users
  // Page-header end
  // Page-body start
  .page-body
    // Basic table card start
    .card
      .card-header
        h5 Users list
        span List of all users
      .card-block.table-border-style
        .table-responsive
          table.table
            thead
              tr
                th #
                th Name
                th Phone
                th Email
                th Roles
                th Status
                th Date
                th Action
            tbody
              for user in userDatas
                - var d = new Date(user.created_at);
                - var roles = ''
                if(user.roles)
                  //- console.log(user.roles)
                  for role in user.roles
                    - console.log(role)
                    if(roles === '')
                      //- console.log(role.translations)
                      if(role.translations)
                        - roles = role.translations[0].name
                    else
                      //- console.log(role.translations)
                      if(role.translations)
                        - roles = roles + ', ' + role.translations[0].name
                tr
                  td= '#' + user.id
                  td= (user.translations) ? user.translations[0].name : 'Unknown'
                  td= user.phone
                  td= user.email
                  td= '[' + roles + ']'
                  td= (user.status) ? 'Active' : 'In-Active'
                  td= d.toLocaleString('pt', { timeZone: 'Asia/Kolkata' })
                  td
                    div.button-page
                      a(href='/admin/user/edit/' + user.id).btn.btn-info 
                        i.fa.fa-edit 
                        span Edit
                      a(href='/admin/user/edit/' + user.id).btn.btn-danger 
                        i.fa.fa-trash-o
                        span Delete